<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Demo_Picker.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E462E59A1CB3F9A500BF979B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E462E5B31CB3F9A600BF979B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E462E5BE1CB3F9A600BF979B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
